[submodule "Thirdparty/CGLM"]
	path = Thirdparty/CGLM
	url = https://github.com/recp/cglm.git
[submodule "Thirdparty/ShaderCompiler"]
	path = Thirdparty/ShaderCompiler
	url = https://github.com/evangelionxyz/Umbra-ShaderCompiler.git
[submodule "Thirdparty/SDL3"]
	path = Thirdparty/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "Thirdparty/CGLTF"]
	path = Thirdparty/CGLTF
	url = https://github.com/jkuhlmann/cgltf.git
